.headerBg {
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 8px rgba(83,19,77,0.07);
  padding: 0.5rem 8rem;
}
.headerContainer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}
.logo {
  height: 72px;
  width: auto;
  display: block;
}
@media (max-width: 900px) {
  .headerBg {
    padding: 18px 0 14px 0;
  }
  .logo {
    height: 48px;
  }
}
